
* {box-sizing: border-box}
/*IMPORTANT. MAKES SCROLLING (jump to content) SMOOTH*/
html {
  scroll-behavior: smooth;
}
body{
  overflow-x: hidden;
}


*, *:before, *:after {
  box-sizing: border-box;
}
/*
.dropdown:hover>.dropdown-menu {
  display: block;
}
*/
.stacking-slide {
  padding: 3rem;
  }

  img.trans {
    width: 380px;
    height: 380px;
    background: black;
    transition: width 2s, height 4s;
    border-radius: 20%;
    
  }
  
  img.trans:hover {
    width: 450px;
    height: 450px;
  }


  .anim {
      -webkit-text-stroke: 1px rgb(0, 0, 0);
      text-align: center;
      color: #FFF;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      letter-spacing: 5px;
  }
  
 div.anim h6{
      /*
      background-image: url('https://media.giphy.com/media/2H9r8AKyYyecz9yyRq/source.gif') ;      
      background-image: url('https://source.unsplash.com/aYkDMrRo580/2000x2000') ;
      background-image: url('https://media.giphy.com/media/ldqBKkhRElMsS7JybI/source.gif') ;
      background: linear-gradient(#45b6b0,#528BC8);
      */
      background-image: url('https://media.giphy.com/media/26BROrSHlmyzzHf3i/source.gif') ;
      background-position: 3% 10%;
      background-size: cover;
      background-repeat: no-repeat;
      color: transparent;
      -moz-background-clip: text;
      -webkit-background-clip: text;
      line-height: .8;
      margin: 10px 0;
      padding:5px;
      
  }


.nav-link1{
    width: 200px;
    height: fit-content;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding:2px 2px;
}

.nav-link1 a{
    text-decoration: none;
    color: black;
    font-family: 'Overpass', sans-serif;
    font-weight: lighter;
    font-size: 22px;
    transition: 3s;
    position:sticky;
}
.nav-link1 a:hover{
  transition: 0.5s;
  color:orange;
}

.gradient {
  width: 100%;
  height: 100%;
  background-image: radial-gradient(at 300px 300px, rgba(194, 194, 194,.3) 0, rgba(1,1,1,.9) 30%);
}

.container1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 600vh;
  justify-content: space-around;
  text-align: center;
  text-transform: uppercase;
  width: 100vmin;
}

.text1 {
  color: black;
  font-size: 13px;
  position: absolute;
  bottom: 2px;
  left: 35%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: left;
}

.topnav {
  overflow: hidden;
  background-color: white;
  background-size: contain;
}

.topnav a {
  float:inline-start;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Overpass', sans-serif;
  font-size: 17px;
  margin-right: 10%;
}
/*left to right*/
.link-effect::after{
  content:'';
  display: block;
  width: 0;
  height: 2px;
  margin: 0px;
  background:black;
  transition: width 1s;
}

.link-effect:hover::after{
  width: 100%;
  transition: width .5s;
}

/*center to sides*/
.link-effect1{
  position: relative; 
  }
.link-effect1:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
}


.link-effect1:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

/*orange on hover*/
.link-effect2{
  color: black;
  transition: all 0.3s ease-in-out;
}
.link-effect2:hover{
  color:darkorange;
}
.link-effect4{
  color: white;
  transition: all 0.3s ease-in-out;
}
.link-effect4:hover{
  color:darkorange;
}
/*slide from left to right and then slide out from right*/
.link-effect3 {
  display: block;
  position: relative;
  color: black;
  text-decoration: none;
  overflow: hidden;
}
.link-effect3::before{
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

@media (hover: hover) and (pointer: fine) {
  .link-effect3:hover::before{
    left: 0;
    right: auto;
    width: 100%;
  }
}

.topnav .icon {
display: none;
}

@media screen and (max-width: 1015px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
 }
}

@media screen and (max-width: 1015px) {
.topnav.responsive {position: relative;}
.topnav.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
  text-align: left;
 }
}
.carousel-inner img {
  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 600px; 
  border: 2px solid black;
}
.item {
  width: 65%;
  max-width: 500px;
  height: fit-content;
  margin: 50px auto;
  align-content: center;
  background-color: whitesmoke;
  /*background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('https://scontent.fdel1-4.fna.fbcdn.net/v/t1.18169-9/554640_1393968614178835_1419439269_n.jpg?_nc_cat=108&ccb=1-3&_nc_sid=cdbe9c&_nc_ohc=-BlAAFmk1mAAX-6uUFR&_nc_ht=scontent.fdel1-4.fna&oh=5e0b4056c96ffca5c2de7f642fa563a8&oe=60A22338');*/
  /*background:rgb(42, 71, 71);*/
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  align-items: center;
  color: black;
  border: 0.5px solid black;
  font-size: 40px;
  box-shadow: 5px 5px 5px black;
  font-family: 'PT Sans Caption', sans-serif;
  padding: 70px 5px;
  border: 8px solid #2d5c6b;
  /*
  border: 8px solid rgb(1, 57, 121);
  */
}
.item .content{
  bottom: 0;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  position: relative;
  height: inherit;
}

.column {
  float:left;
  width: 400px;
  height: 250px;
  margin: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column  {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .column  {
    width: 100%;
  }
}

div.image {
  background: white;
  box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 20px 20px 0px 0px;
}
  img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    transition: transform 2s;
  }
div.image:hover img{
  transform: scale(1.1);
}
.block{
  transition: transform 1.5s;
  border-radius: 20px;
}
.block:hover{
  transform: scale(1.02);
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 100%;
  height: 100%;
  transition: .5s ease;
  font-family: 'Acme', sans-serif;
}
  
  /*div.image:hover .overlay {    height: 90%;}*/

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    padding: 0px 10px;
  }
  
  .card:hover {
    box-shadow: 0px 0px 8px 5px rgba(0,0,0,0.2);
  }
 .card p{
  font-family: 'Acme', sans-serif;
  font-size: 18px;
 } 

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container2 {
  padding: 0 16px;
}

.container2::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.btn4{
  display: block;
  width: 180px;
  margin: auto;
  transition: 1.5s ease;
  text-align: center;
  }
.btn4:hover{
  transform: scale(1.1);
  }
.btn1{
  background-color:white;
  border-radius:20px;
  border: 1.8px solid black;
  margin-bottom: 2px;
  transition: transform 1.5s ease;
  padding: 10px;
  width: fit-content;
}




.btn3{
  border:5px solid darkorange;
  color: white;
}

.heart{
  transition-duration: 0.5s;
}
.btn2:hover .heart{
  color: red;
}

.bg {
  animation:slide 4.5s ease-in-out infinite alternate;
  /*background-image: linear-gradient(-60deg, #40E0D0 50%, #FF8C00 50%);*/
  /*background-image: linear-gradient(-60deg, #00C9FF 50%, #92FE9D 50%);*/
  /*background-image: linear-gradient(-60deg, #00c3ff 50%, #ffff1c 50%);*/
  /*background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);*/
  background-image: linear-gradient(-60deg, #f8f8f8 50%,  #538ACA 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

table.table-bordered{
  border:1.5px solid rgb(110, 110, 110);
  margin-top:20px;
}
table.table-bordered > thead > tr > th{
  border:1.5px solid rgb(110, 110, 110);
}
table.table-bordered > tbody > tr > td{
  border:1.5px solid rgb(110, 110, 110);
}

.wrapper {
  position: relative;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
min-height: 100vh;
background-color: #058175;
font-family: Roboto;
overflow: hidden;
z-index: -1;
}

.wave:nth-child(1) {
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #40E0D0;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  bottom: 141vh;
  opacity: .3;
  border-radius: 45%;
  animation-duration: 8s;
}

.wave:nth-child(2) {
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #40E0D0;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  bottom: 144vh;
  opacity: .8;
  border-radius: 42%;
  animation-duration: 12s;
}

.wave:nth-child(3) {
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #10bead;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  bottom: 147vh;
  opacity: 1;
  border-radius: 48%;
  animation-duration: 10s;
}
.wrapper1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 50vh;
  background-color: #304352;
  font-family: Roboto;
  overflow: hidden;
  margin-bottom: 0px;
  z-index: 0;
}

.wave1:nth-child(1) {
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #d7d2cc;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  bottom: 15vh;
  opacity: .3;
  border-radius: 45%;
  animation-duration: 8s;
  z-index: -1;
}

.wave1:nth-child(2) {
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #d7d2cc;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  bottom: 18vh;
  opacity: .8;
  border-radius: 42%;
  animation-duration: 12s;
  z-index: -1;

}

.wave1:nth-child(3) {
  position: absolute;
  left: 50%;
  min-width: 300vw;
  min-height: 300vw;
  background-color: #bbb1a5;
  animation-name: rotate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  bottom: 21vh;
  opacity: 1;
  border-radius: 48%;
  animation-duration: 10s;
  z-index: -1;

}

@keyframes rotate {
0% {transform: translate(-50%, 0) rotateZ(0deg);}
50% {transform: translate(-50%, -2%) rotateZ(180deg);}
100% {transform: translate(-50%, 0%) rotateZ(360deg);}
}

.wrapper2 {
  background: #373B44;
  background-size: 600% 100%;
  animation: gradient 8s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {background-position: 0%}
  100% {background-position: 100%}
}

.text {
  font-family: verdana;
  font-weight: 700;
  color: #f5f5f5;
  text-shadow: 1px 1px 1px #538ACA,
      1px 2px 1px #538ACA,
      1px 3px 1px #538ACA,
      1px 4px 1px #538ACA,
      1px 5px 1px #538ACA,
      1px 6px 1px #538ACA,
      1px 7px 1px #538ACA,
      1px 8px 1px #538ACA,
      1px 9px 1px #538ACA,
      1px 10px 1px #538ACA,
  1px 18px 6px rgba(16,16,16,0.4),
  1px 22px 10px rgba(16,16,16,0.2),
  1px 25px 35px rgba(16,16,16,0.2),
  1px 30px 60px rgba(16,16,16,0.4);
  -webkit-user-select: none;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
.scroll-container {  
  position: absolute;  
  overflow: hidden;
  z-index: 10;
  display: flex;
  justify-content: center;  
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.viewport {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content {
  width: 60%; 
  padding-top:50px;
}



.button1{
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
	position: relative;
	padding: 10px;
}

a.button.one:before, a.button.one:after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transition: all 0.3s ease;
  border-radius: 5px;
}

a.button.one:before{
	top: -2.5%;
	right: -1%;
	border-top: 0px solid rgb(0, 0, 0);
	border-right: 0px solid rgb(0, 0, 0);
}
a.button.one:after{
	bottom: -2.5%;
	left: -1%;
	border-bottom: 0px solid rgb(0, 0, 0);
	border-left: 0px solid rgb(0, 0, 0);
}
a.button.one:hover:before{
	width: 102%;
	height: 102%;
	transition: all 0.3s ease;
  border-top: 2.5px solid rgb(2, 2, 2);
	border-right: 2.5px solid rgb(0, 0, 0);
}
a.button.one:hover:after{
  width: 102%;
	height: 102%;
	transition: all 0.3s ease;
  border-bottom: 2.5px solid rgb(0, 0, 0);
	border-left: 2.5px solid rgb(0, 0, 0);
}

.loading {
  width: 100%;
  height:100%;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  z-index: 99;
}
/*
.loading:after {
  content: "";
  width: 50px;
  height: 50px;
  position: absolute;
  top: -30px;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  border: 6px solid #f2f2f2;
  border-top: 6px dotted #f2f2f2;
  border-bottom: 6px dotted #f2f2f2;
  border-radius: 50%;
  animation: loading 2s infinite;
}

.loading:before {
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: white;
  content: "Loading...";
  position: absolute;
  top: 57%;
  text-align: center;
  right: 0;
  left: 0;
  margin: auto;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(360deg);
  }
}
*/
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);
.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0; right: 0; left: 0; bottom: 0;
  margin: auto;
  font-size: 30px;
  text-align: center;
}
.loader .image1 {
  width: 100px;
  height: 160px;
  font-size: 40px;
  text-align: center;
  transform-origin: bottom center;
  animation: 2s rotate1 infinite;
  opacity: 0;
  text-align: center;
}
.loader span {
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
}

@keyframes rotate1{
  0% {
    transform: rotate(90deg);
  }
  10% {
    opacity: 0;
  }
  35% {
    transform: rotate(0deg);
    opacity: 1;
  }
  65% {
    transform: rotate(0deg);
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: rotate(-90deg);
  }
}
.blur{
  background:url('https://source.unsplash.com/7jQh3EiS8Bs/2000x500'); 
  opacity: 0.98;
  filter: blur(18px);
  z-index:100;
  width: 200vw;
  height: 200vh; 
  top: 0;
  left: 0;
  position: fixed;
}
.blur h5{
  filter: none;
}

.stories{
  bottom: 0px;
  background-color: #000;
}
